.git
.github
.gitignore

.venv
venv
.env
.envrc
.direnv
.deps

.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
*.pyc
*.pyo
*.egg-info
*.egg
dist
build

frontend/node_modules
frontend/dist
trainscope/ui/static

*.md
!README.md
!LICENSE

Dockerfile
docker-compose.yml
.dockerignore

k8s
*.yaml
*.yml
